@use "../abstracts/variables.scss";

.burger-button {
	width: 46px;
	height: 46px;
	background-color: variables.$white;
	border: 2px solid variables.$black;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

}
