@use '../abstracts/variables';


body {
	// background-color: variables.$black;
	color: variables.$black;
	font-family: variables.$font-main;
	overflow-x: hidden;

	// Выделение текста белым цветом
	::selection {
		background: variables.$white;
		color: variables.$black;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: variables.$font-accent;
}

picture {
	img {
		width: 100%;
	}
}

.min-vh-100 {
	min-height: 100vh;
}

.gap-1 {
	gap: 0.25rem;
}

.gap-2 {
	gap: 0.5rem;
}

.gap-3 {
	gap: 1rem;
}

.gap-4 {
	gap: 1.5rem;
}

.gap-5 {
	gap: 2rem;
}

.gap-6 {
	gap: 2.5rem;
}
