// Fonts
$intertight: 'InterTight', sans-serif;
$manrope: 'Manrope', sans-serif;
$font-main: $intertight;
$font-accent: $manrope;
// Colors
$black: #0E0F12;
$white: #E6E7EB;
$light-gray: #9AA0AA;
$yellow: #FFD34E;

$gradient-1: radial-gradient(circle at 25% 50%, rgba(165, 165, 165, 0.12), rgba(255, 255, 255, 0) 60%);
