// Fonts
$intertight: 'InterTight', sans-serif;
$manrope: 'Manrope', sans-serif;
$font-main: $intertight;
$font-accent: $manrope;
// Colors
$black: #0E0F12;
$white: #E6E7EB;
$light-gray: #9AA0AA;
$yellow: #FFD34E;
