//	SLIDEOUT MENU
.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 300px;
	min-height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	min-height: 100vh;

}

// .slideout-open,
// .slideout-open body,
// .slideout-open .slideout-panel {
// 	overflow: hidden;
// }

.slideout-open .slideout-menu {
	display: flex;
}

//	UI LAYER
.ui-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	pointer-events: none;
	/* важно */
}

.ui-container {
	position: relative;
	height: 0;
}

//	BURGER
.burger {
	position: absolute;
	top: 16px;
	right: 16px;
	pointer-events: auto;
	/* возвращаем кликабельность */
}
