// Файл автоматически сгенерирован скриптом convertFonts.js

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Black.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Italic.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-LightItalic.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Black.woff2') format('woff2'),
       url('../assets/fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
       url('../assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
       url('../assets/fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
       url('../assets/fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('../assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../assets/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Переменные для использования шрифтов
$montserrat: 'Montserrat', sans-serif;
$playfairdisplay: 'PlayfairDisplay', sans-serif;
