@use '@scss/fonts.scss' as fonts;
@use '@scss/variables.scss' as vars;

body {
	background-color: vars.$blacK;
	color: vars.$white;
	font-family: fonts.$roboto;
}

.font-thin {
	font-weight: 100;
}

.font-extralight {
	font-weight: 200;
}

.font-light {
	font-weight: 300;
}

.font-regular {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.font-extrabold {
	font-weight: 800;
}

.font-black {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: vars.$white;
}
